<script type="text/javascript" src="templates/theworldin35mm/js/mootools-core-1.3.1-full-nocompat-yc.js"></script>
<script type="text/javascript" src="templates/theworldin35mm/js/mootools-more-1.3.1.1.js"></script>
<script type="text/javascript" src="templates/theworldin35mm/js/theworldin35mm.js"></script>
<script type="text/javascript">
//<![CDATA[
var slideFx, scrollFx;
var cookie_path = '<35MM_COOKIEPATH>';

var toggleInfo = function()
{
	if (slideFx.open == false)
	{
		Cookie.write('notes-cmts-container', 'show', {path:cookie_path, duration:9999});
		slideFx.slideIn().chain(function() {
			scrollFx.toElement('notes-cmts-container');
		});
		document.id('name').focus();
	}
	else
	{
		Cookie.write('notes-cmts-container', 'hide', {path:cookie_path, duration:9999});
		scrollFx.toTop().chain(function()
		{
			slideFx.slideOut();
		});
	}
}

window.addEvent('domready', function()
{
	slideFx = new Fx.Slide('notes-cmts-container',
	{
		duration: 400,
		link: 'chain',
		transition: Fx.Transitions.Sine.easeInOut
	});
	
	if (!empty(Cookie.read('notes-cmts-container')))
	{
		if (Cookie.read('notes-cmts-container') != 'show')
		{
			slideFx.hide();
		}
	}
	else if (<35MM_COMMENTS_DISPLAY> == 0)
	{
		slideFx.hide();
	}
	
	// attach a click event to toggle info+comments
	document.id('info-toggle').addEvent('click', toggleInfo);
	
	// we hide the div in case the browser decides to draw
	// before domready event completes
	document.id('notes-cmts-container').setStyle('visibility', 'visible');
	
	// add left/right arrow key navigation
	document.addEvent('keydown', function(e)
	{
		if (!isFormTag(e.target.tagName))
		{
			switch (e.code)
			{
				case 37:
					e.stop();
					
					if (<IMAGE_PREVIOUS_ID> != <IMAGE_ID>)
					{
						document.location = "<SITE_URL><35MM_URLPREFIX_IMAGE><IMAGE_PREVIOUS_ID>";
					}
					break;
				case 39:
					e.stop();
					
					if (<IMAGE_NEXT_ID> != <IMAGE_ID>)
					{
						document.location = "<SITE_URL><35MM_URLPREFIX_IMAGE><IMAGE_NEXT_ID>";
					}
					break;
			}
		}
	});
	
	scrollFx = new Fx.Scroll(window,
	{
		duration: 400,
		link: 'chain',
		transition: Fx.Transitions.Expo.easeInOut
	});
});

function navMouseEvent(id, visibility)
{
	document.id(id).setStyle('visibility', visibility);
	return false;
}

function imageLoaded()
{
	var fadeFx = new Fx.Tween('img-photo',
	{
		property: 'opacity',
		duration: 750,
		transition: Fx.Transitions.Expo.easeInOut
	});
	
	fadeFx.start(0,1).chain(function()
	{
		// hide loader image
		document.id('img-border').setStyle('backgroundImage', 'none');
		
		if (<IMAGE_PREVIOUS_ID> != <IMAGE_ID>)
		{
			document.id('img-nav-prevlink').setStyle('visibility', 'visible');
		}
		if (<IMAGE_NEXT_ID> != <IMAGE_ID>)
		{
			document.id('img-nav-nextlink').setStyle('visibility', 'visible');
		}
	});
}
//]]>
</script>
<div id="img-nav-links">
	<div id="img-nav-prevlink" style="float: left; visibility: hidden;">
		<a href="<35MM_URLPREFIX_IMAGE><IMAGE_PREVIOUS_ID>" title="Previous Photo: <IMAGE_PREVIOUS_TITLE>">&larr; previous</a>
	</div>
	<div id="img-nav-nextlink" style="float: right; visibility: hidden;">
		<a href="<35MM_URLPREFIX_IMAGE><IMAGE_NEXT_ID>" title="Next Photo: <IMAGE_PREVIOUS_TITLE>">next &rarr;</a>
	</div>
	<div class="clear"></div>
</div>

<div id="img-wrapper" style="position: relative;">
	<a href="<35MM_URLPREFIX_IMAGE><IMAGE_PREVIOUS_ID>" title="<IMAGE_PREVIOUS_TITLE>"><img id="img-nav-prevarrow" style="position: absolute; top: <35MM_IMAGE_NAV_TOPLEFTPOS>px; left: <35MM_IMAGE_NAV_LEFTPOS>px; visibility: hidden;" src="templates/theworldin35mm/images/navarrows/<35MM_IMAGE_NAV_PREVIMG>" alt="<IMAGE_PREVIOUS_TITLE>" onmouseover="return navMouseEvent('img-nav-prevarrow', 'visible');" onmouseout="return navMouseEvent('img-nav-prevarrow', 'hidden');" /></a>
	<a href="<35MM_URLPREFIX_IMAGE><IMAGE_NEXT_ID>" title="<IMAGE_NEXT_TITLE>"><img id="img-nav-nextarrow" style="position: absolute; top: <35MM_IMAGE_NAV_TOPRIGHTPOS>px; right: <35MM_IMAGE_NAV_RIGHTPOS>px; visibility: hidden;" src="templates/theworldin35mm/images/navarrows/<35MM_IMAGE_NAV_NEXTIMG>" alt="<IMAGE_NEXT_TITLE>" onmouseover="return navMouseEvent('img-nav-nextarrow', 'visible');" onmouseout="return navMouseEvent('img-nav-nextarrow', 'hidden');" /></a>
	<div id="img-border" class="border-frame" style="width: <35MM_ADJUSTED_IMAGE_BORDER_WIDTH>px; height: <35MM_ADJUSTED_IMAGE_BORDER_HEIGHT>px;">
		<img id="img-photo" src="images/<IMAGE_NAME>" alt="<IMAGE_TITLE>" title="<IMAGE_TITLE>" class="border-matte" style="width: <35MM_ADJUSTED_IMAGE_WIDTH>px; height: <35MM_ADJUSTED_IMAGE_HEIGHT>px; visibility: hidden;" usemap="#img-photo-map" onload="imageLoaded();" />
		<map name="img-photo-map" id="img-photo-map">
			<area title="Previous Photo: <IMAGE_PREVIOUS_TITLE>" id="img-map-prev" shape="rect" coords="<35MM_IMAGE_PREV_COORDS>" href="<35MM_URLPREFIX_IMAGE><IMAGE_PREVIOUS_ID>" alt="Previous Photo: <IMAGE_PREVIOUS_TITLE>" onmouseover="return navMouseEvent('img-nav-prevarrow', 'visible');" onmouseout="return navMouseEvent('img-nav-prevarrow', 'hidden');" />
			<area title="Next Photo: <IMAGE_NEXT_TITLE>" id="img-map-next" shape="rect" coords="<35MM_IMAGE_NEXT_COORDS>" href="<35MM_URLPREFIX_IMAGE><IMAGE_NEXT_ID>" alt="Next Photo: <IMAGE_NEXT_TITLE>" onmouseover="return navMouseEvent('img-nav-nextarrow', 'visible');" onmouseout="return navMouseEvent('img-nav-nextarrow', 'hidden');" />
		</map>
	</div>
</div>

<div id="img-title-date-comments">
	<div id="img-title"><a href="<35MM_URLPREFIX_IMAGE><IMAGE_ID>" title="Permalink for <IMAGE_TITLE>"><IMAGE_TITLE></a></div>
	<div id="img-info-comment"><a id="info-toggle" href="javascript:void(0);" title="Comments &amp; Information for <IMAGE_TITLE>"><IMAGE_COMMENTS_NUMBER> <IMAGE_COMMENT_TEXT></a></div>
	<div class="clear"></div>
	<div id="img-date"><IMAGE_DATETIME></div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<div id="notes-cmts-container" style="visibility: hidden;">
	<div id="img-notes">
		<div class="notes-cmts-inner-wrapper">
			<h3>Notes</h3>
			<p><IMAGE_NOTES></p>
			<p><a href="<35MM_URLPREFIX_IMAGE><IMAGE_ID>" title="Permalink for <IMAGE_TITLE>">Permalink</a></p>
			
			<h3>Camera &amp; Exposure Information</h3>
			<table style="border: none; padding-bottom: 10px;">
				<tbody>
					<tr>
						<td colspan="2"><EXIF_CAMERA_MODEL></td>
					</tr>
					<tr>
						<td style="text-align: right;">Focal&nbsp;Length:</td>
						<td><EXIF_FOCAL_LENGTH></td>
					</tr>
					<tr>
						<td style="text-align: right;">Aperture:</td>
						<td><EXIF_APERTURE></td>
					</tr>
					<tr>
						<td style="text-align: right;">Exposure:</td>
						<td><EXIF_EXPOSURE_TIME></td>
					</tr>
					<tr>
						<td style="text-align: right;">ISO&nbsp;Speed:</td>
						<td><EXIF_ISO></td>
					</tr>
				</tbody>
			</table>
			
			<p><b><35MM_IMAGE_CATEGORIES_TITLE></b>&nbsp;<35MM_IMAGE_CATEGORIES></p>
			
			<p><b>Tags:</b>&nbsp;<35MM_IMAGE_TAG_CLOUD_LIST></p>
		</div>
	</div>
	
	<!-- <div id="img-comments">
		<div class="notes-cmts-inner-wrapper">
			<h3>Comments</h3>
			<div class="bubbles">
				<35MM_IMAGE_COMMENTS>
			</div>
			
			<h3>Leave a Comment</h3>
			<form method="post" action="<35MM_URLPREFIX_COMMENTSUBMIT>" onsubmit="return checkCommentForm(this);" accept-charset="UTF-8" style="display: inline;">
				<fieldset>
					<label for="name">Name (required)</label>&nbsp;<div id="name-error" class="error-msg">Please provide a name or nickname.</div><br />
					<input onfocus="this.select();" type="text" name="name" size="30" maxlength="40" value="<VINFO_NAME>" id="name" /><br />
					<label for="email">Email (optional, not shown)</label>&nbsp;<div id="email-error" class="error-msg">Invalid e-mail! Leave blank for none.</div><br />
					<input onfocus="this.select();" type="text" name="email" size="30" maxlength="64" value="<VINFO_EMAIL>" id="email" /><br />
					<label for="url">Website (optional)</label>&nbsp;<div id="url-error" class="error-msg">Invalid URL! Leave blank for none.</div><br />
					<input onfocus="this.select();" type="text" name="url" size="30" maxlength="128" value="<VINFO_URL>" id="url" /><br />
					<label for="name">Comment (required)</label>&nbsp;<div id="message-error" class="error-msg">Please provide a comment.</div><br />
					<textarea name="message" onfocus="clearBox(this);" id="message" rows="10" cols="80">Type your comment here.</textarea><br />
					<input type="checkbox" name="vcookie2" value="set" id="vcookie2" checked="checked" />&nbsp;&nbsp;<label for="vcookie2">Save User Info (requires cookies)</label><br />
					<input type="submit" value="submit" class="button" />
					<input type="hidden" name="parent_id" value="<IMAGE_ID>" />
					<input type="hidden" name="parent_name" value="<IMAGE_NAME>" />
					<input type="hidden" name="withthankyou" value="no" />
					<TOKEN>
				</fieldset>
			</form>
		</div>
	</div> -->
	<!--[if IE 8]><br class="clear" /><![endif]-->
	<div class="clear"></div>
</div>
