/* 
	Son Nguyen
	CSE 190 M
	Homework #1
	
	TA: Rishi Goutam
	
	css style sheet for index.html
*/

body {
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
	color: #404040;
	background-color: white;
	background-image: url("http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/silverware.jpg");
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-srif;
	text-decoration: underline;
	color: #A4A400;
}

h1 {
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-weight: normal;
	font-size: 18pt;
}

span {
	background-color: #F0F0F0;
}
	
a {
	color: #A4A400;
}

blockquote {
	background-color: #FFFFA8;
	font-style: italic;
}

#clickme {
	font-family: monospace;
	font-size: 60pt;
	font-weight: bold;
	
	/* this float works on Firefox, but sometimes doesn't work on Chrome*/
	float: right;
	width: 50%;
}

#validator {
	text-align: right;
}
