<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>
			About &bull;
				<SITE_TITLE>
		</title>
<!-- Link for ATOM feed autodiscovery -->
		<ATOM_AUTODETECT_LINK>
<!-- Link for RSS feed autodiscovery -->
			<RSS_AUTODETECT_LINK>
<!-- META -->
				<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
				<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,Pixelpost" />
				<meta http-equiv="content-type" name="description" content="<SITE_TITLE>-PhotoBlog" />
<!-- CSS -->
				<link rel="stylesheet" type="text/css" href="templates/switchy/styles/light.css" title="light" />
				<link rel="alternate stylesheet" type="text/css" href="templates/switchy/styles/dark.css" title="dark" />
				<script type="text/javascript" src="templates/switchy/js/styleswitcher.js"></script>
				<script type="text/javascript" src="templates/switchy/js/jquery.js"></script>
				<script type="text/javascript">
					$(document).ready(function(){
					
					});
				</script>
	</head>
	<body>
		<div class="container">
			
			<table id="outside" border="0" cellpadding="0" cellspacing="0" align="center" width="800">
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" width="100%" id="banner">
							<tr>
								<td width="100%">
									<h1><a href="<SITE_URL>"><SITE_TITLE></a></h1>
								</td>
								<td class="nav"><a href="<SITE_URL>">Latest</a></td>
								<td class="nav"><a href="<SITE_BROWSELINK>">Browse</a></td >
								<td class="nav"><a href="./index.php?x=about">About</a></td >
								<td class="nav"><a href="./index.php?x=rss">RSS</a></td >
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						
						
						<table border="0" cellspacing="0" cellpadding="0" >
							<tr>
								<td id="text" valign="top" style="padding:20px;">
									
										<h2>About <SITE_TITLE></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Fugiat deserunt consequat. commodo in ipsum veniam, dolore consectetur commodo nisi mollit in dolore officia do cupidatat sit et in in irure undefined non consequat. id ex reprehenderit cupidatat nostrud dolor ut proident, anim ex culpa deserunt dolore anim magna amet, aliqua. sit amet, in eiusmod sint sunt minim dolor deserunt Lorem.</p>
<p>Aliquip Excepteur pariatur. fugiat eiusmod dolor Duis exercitation sed aliquip consequat. id ea voluptate irure sed dolore deserunt cupidatat amet, velit ea dolor veniam, dolor consequat. dolor deserunt incididunt tempor voluptate labore ex elit, ex incididunt qui ipsum laboris ad est nisi dolore magna non veniam, dolore dolore deserunt sed sed ullamco qui deserunt consectetur in esse est est.</p>
<p>Incididunt ad eiusmod dolor reprehenderit ex anim non dolore aliqua. Excepteur cillum occaecat sint fugiat occaecat eiusmod qui Lorem quis ut et in ea exercitation ad fugiat dolor dolore nisi qui sint ea mollit laboris esse occaecat ipsum laborum. laborum. minim nisi officia do aliquip veniam, in veniam, quis.</p>
									
								</td>
								<td valign="top" class="sidecol">
									<div class="details">
										<h3>Links</h3>
										<ul>
					  <li><a href="#">
					    pfnphoto.com  
                    </a></li>
				    <li><a href="#">m a r t a . c o m    </a></li>
					<li><a href="#">borrow a view      </a></li>
					<li><a href="#">nissou* blogphotography        </a></li>
					<li><a href="#">chiaroscurro fotoblog          </a></li>
					<li><a href="#">Tom Kaszuba Photography photoblog</a></li>
					<li><a href="#"> watchThisspace
				      photoblog</a></li>
					<li><a href="#"> m o o d
					    a h o l i c </a></li>
					</ul>
									</div>
								</td>
							</tr>
						</table>
					
					</td>
				</tr>
				<tr>
					<td colspan="2" id="footer">&copy; <a href="<SITE_URL>"><SITE_TITLE></a> &bull; Powered by <a href="http://www.pixelpost.org">PixelPost</a> &bull; Theme: <a href="#" class="style" onclick="setActiveStyleSheet('light'); return false;">Light</a> | <a href="#" class="style" onclick="setActiveStyleSheet('dark'); return false;">Dark</a></td>
				</tr>
			</table>
			
			
			
			
			
			</div>
	</body>
</html>
