<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>About <SITE_TITLE></title>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/smoothoperator/styles/smoothoperator.css" />
</head>

<body>
<div id="header">
<div class="inside">
<h1><a href="index.php" title="Return to current image"><SITE_TITLE></a></h1><ul>
<li><a href="index.php" title="Return to Homepage">Home</a></li>
<li><a href="<SITE_BROWSELINK>" title="Browse">Portfolio</a></li>
<li><a href="index.php?x=about" title="About">About</a></li>
<!-- <a title="Vote for Photo Evangelist Photoblog" href="http://www.coolphotoblogs.com/?do=profile&id=4121" target="_blank"><li>*Give me a thumbs up!</li></a> -->
</ul>
</div> <!-- /inside -->
</div> <!-- /header -->

<div id="infobox">
<div id="page">
<h2>About the Photographer</h2>
<p class="summary">Welcome! This is my photojournalistic photoblog of photography.</p>
<div class="clear"></div>
<div id="subbox">
<div id="col1">
<h2>About myself</h2>
<!-- <p>My name is Matthew George. I have an associates degree in photography from Antonelli Institute of Photography. I have been taking photos since I was 12 years old. I currently reside in California with my beautiful wife Eugenia. I have a son Ethyn.</p> -->
</div>

<div id="col2">
<h2>Links</h2>
<p>Below is a list you may find useful:</p>
<ul>
<li><a href="http://photos.vfxy.com">VFXY Photos</a> - PhotoBlog Directory</li>
<li><a href="http://www.pixelpost.org">Pixelpost.org</a> - This is the application that runs this photoblog.</li>
<li><a href="http://www.photoblogs.org">Photoblogs.org</a> - Photoblog community</li>

</ul>
</div>

<div id="col3">
<h2>Additional Resources </h2>
<ul>
<li><a href="http://www.coolphotoblogs.com/">CoolPhotoblogs.com</a></li>
<li><a href="http://www.photoblogs.org/">Photoblogs.org</a></li>
<li><a href="http://photos.vfxy.com/">VFXY</a></li>
</ul>
</div>
</div> <!--/subbox-->
</div> <!--/page -->
<div class="clear"></div>
</div> <!--/infobox -->

<div id="footer">
<ul>
<li>&copy; <SITE_TITLE> All Rights Reserved</li>
<li><ADVNCD_SITE_VISITORNUMBER> Visitors</li>
<li><a href="admin/index.php">Login</a></li>
<p><li><a href="http://www.pixelpost.org/extend/templates/smooth-operator/"> Theme </a>by <a href="http://mattgeorge.me">Matt George</a></li></p>
</ul>
</div>


</body>
</html>