<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Archives <SITE_TITLE></title>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/smoothoperator/styles/smoothoperator.css" />
<!-- SCRIPTS -->
<MEDIARSS_AUTODETECT_LINK>
</head>
<body>
<div id="header">
<div class="inside">
<h1><a href="index.php" title="Return to current image"><SITE_TITLE></a></h1>
<ul>
<li><a href="index.php" title="Return to Homepage">Home</a></li>
<li><a href="<SITE_BROWSELINK>" title="Browse">Portfolio</a></li>
<li><a href="index.php?x=about" title="About">About</a></li>

</ul>
</div> <!-- /inside -->
</div> <!-- /header -->

<div id="infobox">
<div id="page">
<h2>Browse Archive:</h2>
<div id="thumbnails">
<BROWSE_CATEGORIES>
<br /><br />
<THUMBNAILS>
</div> <!--/thumbnails -->
</div> <!--/page-->
</div> <!--/infobox-->

<div id="footer">
<ul>
<li>&copy; <SITE_TITLE> All Rights Reserved</li>
<li><ADVNCD_SITE_VISITORNUMBER> Visitors</li>
<li><a href="admin/index.php">Login</a></li>
<p><li><a href="http://www.pixelpost.org/extend/templates/smooth-operator/"> Theme </a>by <a href="http://mattgeorge.me">Matt George</a></li></p>
</ul>
</div>


</body>
</html>