<div id="browse-container">
	<div id="category-container">
		<h4>Categories&nbsp;<span class="rsaquo">&rsaquo;</span>&nbsp;<CATEGORY_OR_DATE_NAME_PAGED_ARCHIVE></h4>
		<CATEGORY_LINKS_AS_LIST_PAGED>
		
		<h4>View By Month</h4>
		<BROWSE_MONTHLY_ARCHIVE_AS_LINK_PAGED>

	</div>
	
	<div id="thumbnail-container">
		<h4>Page <ARCHIVE_PAGES_NUM>&nbsp;<span class="rsaquo">&rsaquo;</span>&nbsp;<THUMBNAILS_PAGES_LINKS></h4>
		<div style="line-height: 0px; margin: 0px; padding: 0px;">
			<THUMBNAILS_WHOLE_PAGED>
		</div>
	</div>
</div>
<div class="column4"><div class="clear">
        <h4>View By Tags</h4>
		<TAG_LINKS_AS_LIST>
</div>