<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
	xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Ali TowFigh" />
<meta name="dc.language" content="en" />
<meta name="copyright" content="&copy; Ali TowFigh" />
<meta name="description" content="<meta name="description" content="A daily photoblog of Ali TowFigh" />
<meta name="publisher" content="Ali TowFigh" />
<meta name="owner" content="Ali TowFigh" />

<title><SITE_TITLE> | &copy; Ali TowFigh</title>

<!-- Link for RSS+ATOM feed autodiscovery -->
<FEED_AUTO_DISCOVERY>

<!-- browser icon in address bar -->
<link rel="shortcut icon" href="templates/alipixel/images/favicon.ico" type="image/x-icon" />


<!-- AJAX RATINGS -->
<link rel="stylesheet" type="text/css" href="addons/_ajaxratings/ajax_ratings/css/rating-blocks-14px.css" />
<!-- CSS -->
<style type="text/css" media="screen">
	@import url("<SITE_URL>templates/alipixel/css/alipixel.css");
</style>

<!--[if gte IE 6]>
<style type="text/css" media="screen">
	@import url("<SITE_URL>templates/alipixel/css/alipixel-ie.css");
</style>
<![endif]-->

</head>
<body>
<div id="topborder"></div>
<div id="header">
	<div id="site-title">
		<a href="<SITE_URL>"><img src="templates/alipixel/images/logo.png" width="145" height="44" alt="alipixel.com" /> </a>
	</div>
    
    <div id="menu">
<ul>
<li><a href="./index.php" title="Current Photo">today</a> |</li>
<li><a href="./index.php?x=about" title="About ali pixel">About</a> |</li>
<li><a href="<SITE_BROWSELINK>" title="Browse all Photo">Browse</a> |</li>
<li><a href="./index.php?x=contact_form" title="Contact Me">contact</a> |</li>
</ul >
		
		<div id="sub-title">
			<SUB_TITLE>
		</div>
	</div>
	
	<div class="clear"></div>
</div>

<div id="page"> 
	<div class="wrapper">
