<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<title><SITE_TITLE></title>
<ATOM_AUTODETECT_LINK>
<RSS_AUTODETECT_LINK>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="templates/honey/honey.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function changeValue(def_val, sender) {
    if (sender.value == def_val) {
        sender.value = "";
    } else if (sender.value == "") {
        sender.value = def_val;
    }
}
</script>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="550" border="0" align="center" cellpadding="0" cellspacing="0" id="main">
  <tr> 
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" id="navigation">
        <tr>
          <td width="50%" class="title"><a href="index.php"><SITE_TITLE></a></td>
          <td align="right"><a title="browse" href="index.php?x=browse&amp;pagenum=1">archive</a> / <a title="about + links" href="index.php?x=about">about</a> / <a href="index.php?x=rss" title="RSS">rss</a></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" id="image-title">
        <tr> 
          <td class="title">ABOUT THIS PHOTOBLOG ...</td>
          <td align="right"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td id="image-info">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
  </tr>
  <tr><td class="categories1">MORE ABOUT THIS PHOTOBLOG ...</td></tr>
  <tr> 
    <td id="image-info">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
       
  </tr>
  <tr><td class="categories1">ADD A FEW LINKS ...</td></tr>
  <tr>
    <td bgcolor="#FFFFFF" id="image-info">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><ul>
              <li><a href="http://1x.com/">onexposure.com</a></li>
			  <li><a href="http://photos.vfxy.com/">VFXY</a></li>
			  <li><a href="http://potd.deenee.de/">deenees photoblog</a></li>
            </ul> </td>
        </tr>
      </table>
</td></tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="5" cellpadding="0" id="copyright">
  <tr>
    <td><span class="title"><SITE_TITLE></span> &copy; 2009</td>
          <td align="right">Template "honey" made by <a href="http://potd.deenee.de/">deenee</a> 
          </td>
        </tr>
      </table></td>
  </tr>
</table>


</body>
</html>
