<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"  content="<SITE_TITLE>" />
<title>About :: <SITE_TITLE></title>
<link rel="stylesheet" type="text/css" href="templates/simple-visions-mellencamp/style.css" title="light" />
</head>

<body>

<div id="content">
<div id="nav">

<div class="navbar">

<div class="header">
<a href="index.php" title="latest image"><SITE_TITLE></a>
</div>

<div class="navmenu">
<a href="index.php" title="Home">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="<SITE_BROWSELINK>" title="archives">Archives</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="index.php?x=rss" title="RSS 2.0 feed">RSS</a>/<a href="index.php?x=atom" title="ATOM feed">Atom</a>
</div>

</div>

</div>

<div id="about-page">
<div id="about">
<table width="100%" cellspacing="60">
<tr>
      <td align="left" valign="top" class="column"> <h3>About me:</h3>
        <p>This is the page about you, or your site. Edit this text with your own description. Feel free to change any links I already have here.</p>
        </td>
<td align="left" valign="top" class="column">
<h3>My gear: </h3>
<ul>
  <li>Your Camera </li>
<li>Your Lens </li>
  <li>Other</li>
</ul>
<h3>Links</h3>
<p>Below is a list of links that you may find  useful in getting your blog up and running:
</p>
<ul>
<li><a href="http://www.pixelpost.org">Pixelpost.org</a> - This is the application that runs this photoblog.</li>
<li><a href="http://highlysubjective.com/my-themes/">Simple-Visions-Mellencamp</a> - The template used in this photoblog. </li>
<li><a href="http://www.photoblogs.org">Photoblogs.org</a> - Pretty much the oracle of photoblog community.</li>
</ul>
Photoblogs I like:
<ul>
<li><a href="http://www.highlysubjective.com/">Highly Subjective</a> </li>
<li><a href="http://www.chromasia.com/">Chromasia</a></li>
<li><a href="http://www.darkshapesprowl.com/">Dark Shapes Prowl</a></li>
<li><a href="http://photoblog.jbuhler.com/">Water Molotov</a></li>
<li><a href="http://www.flickr.com/photos/lucideyephotography/">Lucid Eye Photography</a></li>
<li><a href="http://www.photoflavor.com/">Photo Flavor</a></li>
<li><a href="http://moodaholic.com/">Moodaholic</a></li>
</ul>
<p>&nbsp;</p></td>
</tr>
</table>
</div>
</div>

<div id="copyright">
Images &copy;2006 YOUR NAME HERE &bull; All rights reserved.</div>

</div>

<br clear="all" />

</body>
</html>


