<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"  content="<SITE_TITLE>" />
<title><SITE_TITLE> :: About</title>
<link rel="stylesheet" type="text/css" href="templates/visions/styles/light.css" title="light" />
<link rel="alternate stylesheet" type="text/css" href="templates/visions/styles/dark.css" title="dark" />
<script type="text/javascript" src="templates/visions/jscript/styleswitcher.js"></script>
</head>

<body>

<div id="content">
<div id="nav">

<div class="navbar">

<div class="header">
<a href="index.php" title="latest image"><SITE_TITLE></a>
</div>

<div class="navmenu">
<LINK_TO_PAGED_ARCHIVE> |
<a href="index.php?x=about" title="about">About</a> | 
<a href="index.php?x=rss" title="RSS 2.0 feed">RSS</a>/<a href="index.php?x=atom" title="ATOM feed">Atom</a> | 
<a href="#" onclick="setActiveStyleSheet('light'); return false;"><img src="templates/visions/images/box_light.png" alt="light style" /></a>
<a href="#" onclick="setActiveStyleSheet('dark'); return false;"><img src="templates/visions/images/box_dark.png" alt="dark style" /></a>
</div>

</div>

</div>

<div id="page">
<table width="100%">
<tr>
      <td class="column"> <h3>So what in the heck is all this?</h3>
        <p>This is my &quot;photoblog&quot; or &quot;photographic web log&quot;. This is Simple Visions template for Pixelpost (based on default Simple template) and it is made by <a href="http://yovko.net">Yovko Lambrev</a>. You can use and distribute this template under <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License</a>.</p></td>
<td class="column">
<h3>Links</h3>
Below is a list of links that you may find are useful in getting your blog up and running:
<ul>
<li><a href="http://www.pixelpost.org">Pixelpost.org</a> - This is the application that runs this photoblog.</li>
<li><a href="http://www.photoblogs.org">Photoblogs.org</a> - Pretty much the oracle of photoblog community.</li>
</ul>
Additional Links:
<ul>
<li><a href="http://www.photoblogring.org">PhotoblogRing.org</a></li>
<li><a href="http://www.photoblogsmagazine.org">PhotoblogsMagazine.org</a></li>
<li><a href="http://www.photofriday.com">PhotoFriday.com</a></li>
<li><a href="http://www.nikonians.org">Nikonians.org</a></li>
<li><a href="http://www.simplestudio.org">SimpleStudio.org</a></li>
<li><a href="http://www.jpgmag.com">JPGmag.com</a></li>
</ul>
</td>
</tr>
</table>
</div>

<div id="copyright">
&copy;2007 <a href="http://yoursite.com">Your name here</a> &bull; Some rights reserved<br />
<a href="http://yovko.net/download/pixelpost/">Simple Visions</a> design template by <a href="http://yovko.net">Yovko Lambrev</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY</a><br />
Valid <a href="http://validator.w3.org/check/referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &bull; Code is poetry
</div>

</div>

<br clear="all" />

</body>
</html>
