<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"  content="<SITE_TITLE>" />
<title>Archives :: <SITE_TITLE></title>
<link rel="stylesheet" type="text/css" href="templates/simple-visions-mellencamp/style.css" title="light" />
</head>

<body>

<div id="content">
<div id="nav">

<div class="navbar">

<div class="header">
<a href="index.php" title="latest image"><SITE_TITLE></a>
</div>

<div class="navmenu">
<a href="index.php" title="Home">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="<SITE_BROWSELINK>" title="archives">Archives</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="index.php?x=about" title="about">About + Links</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="index.php?x=rss" title="RSS 2.0 feed">RSS</a>/<a href="index.php?x=atom" title="ATOM feed">Atom</a>
</div>

</div>

</div>

<div id="page">
<span class="title">Browse Archive:</span><hr /><br />
<BROWSE_CATEGORIES>
<BROWSE_MONTHLY_ARCHIVE_PAGED>
<br /><br />
<THUMBNAILS> 
</div>

<div id="copyright">
Images &copy;2006 YOUR NAME HERE &bull; All rights reserved.</div>
</div>

</div>

<br clear="all" />

</body>
</html>



