/* 
	Son Nguyen
	CSE 190 M
	Homework #7
	
	TA: Rishi Goutam
	
	css style sheet for fifteen.html											
*/

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;	
}

#puzzlearea {
	width: 400px;
	height: 400px;
	margin: auto;
	position: relative;
}

#puzzlearea div {
	font-size: 40pt;
	width: 90px;
	height: 90px;
	border: black solid 5px;
	background-image: url("background.jpg");
	position: absolute;
}

#puzzlearea .moveable:hover {
	border: red solid 5px;
}
