<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<!--

			Dark Matter Free Edition Theme for Pixelpost
			
			Copyright 2008 (c) Marco van Hylckama Vlieg
			All Rights Reserved.

			Author: Marco van Hylckama Vlieg
			Site: http://darkmatter-template.com/
			E-mail: marco@i-marco.nl

		-->
		<title><SITE_TITLE> // <DM_STR_COLLECTION></title>
		<BASE_HREF>
		<ATOM_AUTODETECT_LINK>
		<RSS_AUTODETECT_LINK>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="content-type" name="keywords" content="PhotoBlog,Pixelpost" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta http-equiv="content-language" content="en" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts/reset-fonts.css" /> 
		<DM_CSSFILE>
	</head>
	<body id="pb">
		<script type="text/javascript">
			document.getElementById('pb').className = 'js';
		</script>
		<div id="body-wrapper" class="w<DM_BODY_WIDTH>">
			<div id="wrapper">
				<div id="header">		
					<ul id="menu">
						<li><a href="index.php"><DM_STR_HOME></a></li>
						<li><a href="<SITE_BROWSELINK_PAGED>"><DM_STR_COLLECTION></a></li>
						<li><a href="index.php?x=about"><DM_STR_ABOUT></a></li>
					</ul>
					<div id="title">
						<h1><span class="name"><SITE_TITLE></span> <span class="subtitle"><SUB_TITLE></span></h1>
					</div>
				</div>	
				<div id="page-content">		
					<h2 id="archive-header"><DM_STR_COLLECTION></h2>
					<div class="clearfix" id="archive-wrapper">			
						<div id="archive-thumbnails">
							<THUMBNAILS_WHOLE_PAGED>						
							<p><THUMBNAILS_PAGES_LINKS></p>
						</div>
						<div id="archive-sidebar">
							<h2><CATEGORY_OR_DATE_NAME_PAGED_ARCHIVE></h2>		
							<p><DM_STR_YOU_ARE_VIEWING>: <strong><CATEGORY_OR_DATE_NAME_PAGED_ARCHIVE></strong>.</p>				
							<h3><DM_STR_ALL_CATEGORIES></h3>
							<DM_CATEGORYLIST>
						</div>
					</div>
					<DM_TAGS_TAB>
				</div>
			</div>
		</div>
		<div id="footer" class="w<DM_BODY_WIDTH>f"><div id="footer-content">Copyright 2003-2008 &copy; Marco van Hylckama Vlieg. All Rights Reserved. | <a href="http://www.pixelpost.org" name="anchor">PixelPost</a> | <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">Code is Poetry</a> | <a href="http://darkmatter-template.com/" title="Find out more about Dark Matter Pro, the world's most advanced premium photoblog template for Pixelpost!">Dark Matter Free Edition by Marco van Hylckama Vlieg</a> | <a href="./index.php?x=rss"><abbr title="Really Simple Syndication">RSS</abbr></a></div></div>
		<!-- Removing the link to darkmatter-template.com is NOT allowed unless you own a site license or developer license for Dark Matter Pro. Doing so anyway is a violation of the license terms and conditions for Dark Matter Free Edition -->		<DM_JSFILES>
	</body>
</html>