<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- start site title -->
<title><SITE_TITLE> | about</title>
<!-- end site title -->
<!-- start feed -->
<ATOM_AUTODETECT_LINK>
<RSS_AUTODETECT_LINK>
<!-- end feed -->
<!-- start meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- end meta data -->
<!-- start css -->
<link href="templates/lunas/lunas.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="templates/lunas/favicon.ico" type="image/x-icon" />
<style type="text/css">
.zg_div {margin:0px 5px 5px 0px; width:150px;}
.zg_div_inner {border: solid 1px #CCCCCC; background-color:#FFFFFF;  color:#666666; text-align:center; font-family:arial, helvetica; font-size:11px;}
.zg_div a, .zg_div a:hover, .zg_div a:visited {color:#3993ff; background:inherit !important; text-decoration:none !important;}
</style>
<!-- end css -->
<!-- start script -->
<script src="templates/lunas/scripts/lib/prototype.js" type="text/javascript"></script>
<script src="templates/lunas/scripts/src/scriptaculous.js" type="text/javascript"></script>
<!-- boxover script is from http://boxover.swazz.org/ -->
<script type="text/javascript" src="templates/lunas/scripts/boxover.js"></script>
<script type="text/javascript">
function changeValue(def_val, sender) {
    if (sender.value == def_val) {
        sender.value = "";
    } else if (sender.value == "") {
        sender.value = def_val;
    }
}
</script>
<!-- end script -->
</head>
<body>
<!-- start wrapper -->
	<div id="wrapper">
<!-- start leftnavi -->
	<div id="leftnavi">
	  <img src="templates/lunas/images/ur.png" border="none" alt="" />
	</div>
<!-- end leftnavi -->
<!-- start center -->
	<div id="center">
	<!-- start header -->
		<div id="header">
        	<!-- start logo -->
			<div id="logo"><a href="index.php"><img src="templates/lunas/images/logo.png" width="200" height="80" alt="" /></a></div>
			<!-- end logo -->
        	<!-- start menu -->
			<div id="menu"><a href="index.php">home</a> &middot;  
          <a href="index.php?x=browse&amp;pagenum=1">fotos</a> &middot; 
          <a href="index.php?x=about">about</a> <br />
&nbsp;&nbsp;<br />
        &nbsp; </div>
			<!-- end menu -->
      </div>
	<!-- end header -->
    <!-- start content -->
		<div id="content">
        <div class="image-title">About</div>
        <div id="about">
        <!-- start image right -->
         <div class="imgright">
         </div>
         <!-- end image right -->
         <p><a href="index.php">Ich freue mich,  wenn ihr Eure Gedanken und <br />
         Ideen zu meinen Fotos postet.</a> <br />
<br />
Für Anfragen schreibt mir bitte ein Email auf <br />
..............<br />
        &nbsp;<br />
  <img src="templates/lunas/images/line.gif" alt="" /><br />
  &nbsp;<br />
         ..............<br />
           <br />
          </p>
        </div>
         <div class="clear"></div>
         </div>
	<!-- end content -->
        <div class="clear"></div>
     <!-- start footer -->
		<div id="footer"><p> &copy; 2009 <a href="index.php"><SITE_TITLE>
            </a> </p></div>
	<!-- end footer -->
	</div>
	<!-- end center -->
<!-- start rightnavi -->
	<div id="rightnavi">
		<img src="templates/lunas/images/ur.png" border="none" alt="" />
	</div>
<!-- end rightnavi -->
</div>
<!-- end wrapper -->
</body>
</html>
