<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<FEED_AUTO_DISCOVERY>
<link rel="shortcut icon" href="templates/click/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-type" name="keywords" content="photoblog,<SITE_TITLE>" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE> - photoblog" />
<title><SITE_TITLE> | Browse</title>
<link href="templates/zen/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div align="center"><img src="templates/zen/images/hdr_browse.gif" alt="header" width="750" height="41" border="0" usemap="#Map" />
  <map name="Map" id="Map">
  <area shape="rect" coords="35,3,99,26" href="index.php" alt="Home" title="Latest Image" />
  <area shape="rect" coords="642,3,674,25" href="index.php?x=rss" alt="RSS feed" title="Subscribe to RSS feed" />
  <area shape="rect" coords="686,3,716,25" href="index.php?x=atom" alt="ATOM feed" title="Subscribe to ATOM feed" />
</map>

<table width="745" border="0">
  <tr>
    <td width="745" align="center"><div class="thumbnails" id="page"><THUMBNAILS></div>
</td>
  </tr>
</table>

<br />
<div class="footer">© <a href="index.php"><SITE_TITLE></a> | powered by <a href="http://www.pixelpost.org/">pixelpost</a> | template by <a href="http://www.clickwithpeople.com">Larrie Knights</a></div>
<br />
</div>
</body>
</html>