		<div id="footer">
			<35MM_COPYRIGHT_FOR_FOOTER><br />
<!--
			<ul>
				<li>Powered by <a onclick="window.open(this.href); return false;" href="http://pixelpost.org/" title="Pixelpost">Pixelpost</a></li>
				<li>&middot;</li>
				<li>Theme by <a onclick="window.open(this.href); return false;" href="http://theworldin35mm.org/">The&nbsp;World&nbsp;in&nbsp;35mm</a></li>
				<li>&middot;</li>
				<li><a onclick="window.open(this.href); return false;" href="admin">Admin</a></li>
			</ul>
-->
		</div>
	</div> <!-- id=wrapper -->
</div> <!-- id=royal-wrapper -->
<35MM_GOOGLEANALYTICS>
</body>
</html>
