<!DOCTYPE html>
<html lang="en">
<head>
<title><35MM_TITLE></title>
<base href="<SITE_URL>" />
<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
<meta name="keywords" content="<35MM_META_KEYWORDS>" />
<meta name="description" content="<35MM_META_DESCRIPTION>" />
<meta name="copyright" content="<35MM_COPYRIGHT>" />
<meta name="author" content="<35MM_AUTHOR>" />
<meta name="owner" content="<35MM_AUTHOR>" />
<meta name="publisher" content="<35MM_AUTHOR>" />
<meta name="version" content="v2.7.4, <35MM_VERSION>" />
<35MM_GOOGLEWEBMASTER>
<35MM_PREFETCH_LINKS>
<FEED_AUTO_DISCOVERY>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" type="image/png" href="favicon.png" />
<link rel="stylesheet" type="text/css" media="all" href="templates/theworldin35mm/css/theworldin35mm.css" />
<link rel="stylesheet" type="text/css" media="all" href="<35MM_CSS_URL>" />

<!-- customized -->
<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link type="image/png" sizes="16x16" href="http://png.findicons.com/files/icons/2284/sista/59/camera_alt.png" rel="icon">



<!--[if lt IE 9]><link rel="stylesheet" type="text/css" media="all" href="templates/theworldin35mm/css/theworldin35mm-ie.css" charset="utf-8" /><![endif]-->
<35MM_FACEBOOK_LINK>
</head>
<body>
<div id="royal-wrapper" style="width: <35MM_ROYALWIDTH>px;">
	<div id="wrapper" style="width: <35MM_WIDTH>px;">
		<div id="header">
			<div id="site-title"><a href="<SITE_URL>"><SITE_TITLE></a></div>

			<div id="menu">
				<ul>
					<li><a href="<SITE_URL>" title="Latest Photo">Fresh</a></li>
					<li>&middot;</li>
					<li><a href="<35MM_BROWSE_URL>" title="Browse Photo Archive">Collection</a></li>
					<li>&middot;</li>
					<li><a href="<35MM_URLPREFIX_PAGE>about" title="About">About</a></li>
				</ul>
				<div id="sub-title"><SUB_TITLE></div>
			</div>

			<div class="clear"></div>
		</div>
