<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><SITE_TITLE> :: Browse</title>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/superb/styles/superb.css" title="main" />
<!-- SCRIPTS -->
<script type="text/javascript" src="templates/superb/scripts/jquery.js"></script>
<script type="text/javascript" src="templates/superb/scripts/jquery.corner.js"></script>
<script type="text/javascript">
<!--
    $(function() {
        $('#header').corner("bottom");
    });
-->
</script>
</head>
<body>

<div id="header">
  <div id="menu"><a href="index.php">Current</a>&nbsp;&middot;&nbsp;<a href="?x=browse">Browse</a>&nbsp;&middot;&nbsp;<a href="?x=about">About</a></div><!-- menu -->
</div><!-- header -->


<div id="page">
<THUMBNAILS>
</div><!-- page -->

<div id="browse_footer">
  <div id="browse_footer_text">photos&nbsp;&copy;&nbsp;<SITE_TITLE>&nbsp;|&nbsp;Powered by <a href='http://www.pixelpost.org'>pixelpost</a>&nbsp;|&nbsp;<a href='http://www.pixelpost.org/extend/templates/superb-template/'>superb template</a> by <a href='http://www.van-sluis.nl'>niels van sluis</a></div>
</div>

</body>
</html>
